<div class="container">
  <div class="row">
    <div class="eight columns offset-by-two columns">
      <h1>Cadastrar animal</h1>

      <%= render 'animals/form', animal: @animal %>
    </div>
  </div>
</div>
